{% load django_bootstrap5 %}
<!DOCTYTPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заявки{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% bootstrap_css %}
    {% block extra_head %}{% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <main class="conteiner my-4 px-3">
			{% bootstrap_messages %}
			{% block content %}{% endblock %}
		</main>
		{% bootstrap_javascript %}
		{% block extra_js %}{% endblock %}
  </body>
</html>